@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(16, 125, 197);
}

h1 {
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
    color: white;
    text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.342);
}

section {
    background-color: rgb(255, 255, 255);
    margin: auto;
    width: 750px;
    height: 350px;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    padding: 20px;w
}

footer {
    text-align: center;
    margin-top: 40px;
    font-style: italic;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.726);
}

select#flista {
    width: 150px;
    
}