.imagens-slider {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.imagens-slider .slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.5S ease-out;
    display: flex;
    align-items: center;
}

.imagens-slider .slide.mostrar {
    opacity: 1;
}

.slide-rosa {
    background-image: url(../imagens/flores-rosas.jpg );
}

.slide-verde {
    background-image: url(../imagens/flores-amarelas.jpg );
}

.slide-laranja {
    background-image: url(../imagens/flores-montanhas.jpg );
}

.slide-azul {
    background-image: url(../imagens/flores-lago.jpg );
}

.imagem-seta,
.seta-avancar {
    position: absolute;
    top: 50%;
    z-index: 1;

}

.imagem-seta {
    left: 4%;
    transform: translateY(-50%) rotateY(180deg);
}

.seta-avancar {
    right: 2%;
    transform: rotateY(180deg);
}

.imagem-seta {
    width: 50px;
    height: 50px;
}

#seta-voltar {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    z-index: 1;
}

.opacidade {
    opacity: 0.6;
    cursor: default;
}

.conteudo {
    background-color: white;
    margin-left: 180px;
    padding: 65px 60px;
    width: 620px;
    border-radius: 10px;
}

.conteudo .titulo {
    margin-bottom: 80px;
    font-size: 5rem;
    font-weight: 400;
}

.conteudo .texto {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 50px;
}

.conteudo .botao {
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
}

.botao.rosa {
    color: #C50000;
}

.botao.verde {
    color: #D9DD10;
}

.botao.laranja {
    color: #A63A17;
}

.botao.azul {
    color: #10ACDD;
}